@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global */
* {
  box-sizing: border-box;
}
/* Elements */
.page-break {
  @apply py-[35px];
}
a {
  cursor: pointer;
}
.hero-title {
  @apply text-white text-4xl font-bold leading-tight mb-3;
}
.hero-subtitle {
  @apply text-white font-normal text-base mb-6;
}
.hero-inner-container {
  @apply inner-container flex flex-col justify-center h-full;
}
.section-heading {
  @apply font-bold text-4xl mb-5;
}
.section-subheading {
  @apply text-base mb-12 font-normal;
}
/* Components */
.app {
  @apply font-montserrat font-medium;
}
.button {
  @apply bg-primary-orange text-black-text px-6 h-10 rounded-full min-w-fit;
}

.icon-wrapper {
  @apply h-10 w-10 aspect-square center-contents rounded-full p-1 text-lg cursor-pointer;
}
.inner-container {
  @apply px-8 max-w-[1300px] mx-auto;
}
.card-rounding {
  @apply rounded-2xl overflow-hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* Components - Homepage */

/* Utils */
.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transform-center {
  @apply translate-x-[-50%] left-1/2;
}
