@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global */
* {
  box-sizing: border-box;
}
/* Elements */
.page-break {
  @apply py-[18px] md:py-[35px];
}
a {
  cursor: pointer;
}
.hero-title {
  @apply text-white text-5xl font-semibold leading-tight mb-2 md:mb-6;
}
.hero-subtitle {
  @apply text-white font-normal text-base mb-6;
}
.hero-inner-container {
  @apply inner-container flex flex-col justify-center h-full;
}
.section-heading {
  @apply font-bold text-4xl mb-5 border-b-primary-orange border-b-4 w-fit pb-1;
}
.section-subheading {
  @apply text-base mb-12 font-normal;
}
/* Components */
.app {
  @apply font-montserrat font-medium;
}
.button {
  @apply bg-primary-orange text-black-text px-6 h-10 rounded-full min-w-fit;
}

.icon-wrapper {
  @apply h-10 w-10 aspect-square center-contents rounded-full p-1 text-lg cursor-pointer;
}
.inner-container {
  @apply px-4 md:px-8 max-w-[1300px] mx-auto;
}
.card-rounding {
  @apply rounded-2xl overflow-hidden;
}
.contact-form-input {
  @apply font-normal border-2 border-gray-100 px-2 py-1 rounded text-gray-700 w-1/2 text-sm;
}
.blog-title {
  @apply font-semibold text-3xl;
}
.blog-subtitle {
  @apply font-semibold text-2xl;
}
.blog-section-heading {
  @apply font-semibold text-xl mb-2;
}
.blog-p {
  @apply font-normal;
}
.blog-link {
  @apply text-blue-700 underline;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* Components - Homepage */

/* Utils */
.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transform-center {
  @apply translate-x-[-50%] left-1/2;
}

li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.5em;
  padding-left: 1.5em;
}
